body {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* Add a black background color to the top navigation */
.nav-bar {
  background-color: #bebeba;
}

ul {
  list-style: none;
}

.message-list {
  background-color: #FFFFFF;
  border: 0px solid orange;
  padding: 20px;
}

h1 {
  color: #FF3B77 ;
}

.pollContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.authorContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
button {
  display: block;
  width: 100px;
  height: 100px;
  border-style:solid;
  border-width: 20px;
margin: auto;
padding: 10px;
}
.contentTab { 
padding: 40px;
}

.line1{ 
padding: 20px;
}
.line2 {  
  display: inline-block;
  width: 170px;
  padding: 10px;
  border: 2px solid rgb(170, 102, 187);
}
.post {
  margin: 10px;
  padding: 10px;
  border: 0px solid #FFB03B;
  border-radius: 5px;
  color: #52656B;
}

.message {
  display: block;
  margin: auto;
  padding: 20px;
  background-color: #52656B;
  color: #FFFFFF;
  width: 40%;
  border-radius: 5px;
  font-size: 30px;
}

img {
  width: 300px;
  padding: 10px;
}

.time {
  font-weight: bold;
  color: #e90cde;
  display: inline-block;
  padding: 10px;
}

.author {
  font-weight: bold;
  color: #e90cde;
  display: inline-block;
  padding: 10px;
}

.answerButtons {
  width: 30%;
}

.answerButton {
  display: block;
  cursor: pointer;
  text-overflow: ellipsis;
  padding: 4px;
  margin: 4px;
  border-radius: 15px;
  width: 100%;
  color: #949494;
  background-color: #dadada;
  border-color: #E1ECF4;  
}

.answerButton:hover {
  color: white;
  background-color:#CDFF00;
  
}

.answerStat {
  height: 30px;
  background-color: #FF3B77;
  padding-bottom: 4px;
  margin: 5px;
  color: #000000;
 text-align: center; 
 padding: 10px; 

}

.stats {
  width: 400px;
}

.hidden {display: none}

